body {
    background-color: #252837;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
  
  #chart-container {
    width: 100%;
    height: 650px;
    background: #2A2E39 !important; /* Forza lo sfondo scuro */
    border-radius: 0px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    overflow: hidden;
}
  
  .tooltip {
    background-color: #2B2B43;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    color: #D9D9D9;
    border: 1px solid #3D3D5C;
  }